/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.bg-white {
  background-color: #F2E8D8;
}

a:focus, .nested-links a:hover {
  color: red;
}


.nested-links a{
  overflow-wrap: break-word;
  transition: color 0.5s ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  color: #8F4328;
}

.ba {
  background-color: #E2D0B0;
  color: #945434 !important;
}

aside > div {

  background-color: #F2E8D8 !important;
  border-style: solid;
  border-color: #8F4328;

}

.brownish {
  background-color: #F2E8D8;
}

h1 {
  color: #662F15;
}

p {
  text-align: justify;
}

.sidebox-list {
  list-style-type: none;
}

.tagcloud, div.tagcloud a {
  border-style: none;
  color: #945434 !important;
  text-decoration: none;
}

ul.sidebox-list li a {
  color: #945434 !important;
  text-decoration: none;
}

